body {
  min-height: 100svh;
}

main {
  width: 100%;
  background: var(--mainBgColor);
}

.main_container {
  width: 1100px;
  min-height: 65svh;
  margin: 0 auto;
  background: var(--mainBgColor);
}

.info_container {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.info_container .color_quiz {
  font-size: 24px;
  color: black;
}

.info_container .info_div {
  padding: 6px 15px;
  border-radius: 6px;
  background: white;
}

.quiz_container {
  width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz_container p {
  color: #191D63;
  font-size: 28px;
  font-weight: 700;
}

.visible_color {
  width: 300px;
  height: 150px;
}

ul {
  width: 100%;
  list-style: none;
}

ul li {
  width: 100%;
}

.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--mainBgColor);
}

ul li button {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background: white;
  width: 100%;
  padding: 16px 24px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

ul li button span:nth-child(2) {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

ul li button:focus {
  border: 2px solid blue;
}

.score_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: 48px;
  font-weight: 700;
}

footer {
  width: 1100px;
  margin: 0 auto;
}

.next_button {
  background: white;
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.next_button button {
  padding: 20px 75px;
  background: grey;
  color: white;
  cursor: pointer;
}

.next_button button:disabled {
  background: rgba(128, 128, 128, 0.452);
}

.main_finish_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1100px;
  min-height: 80svh;
  margin: 0 auto;
  background: var(--mainBgColor);
}

.main_finish_container .color_quiz {
  position: absolute;
  top: 30px;
  font-size: 24px;
}